{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}Your online shop for shoes!{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small pl-0 pl-sm-3">        
        <li class="breadcrumb-item active" aria-current="page">           
        </li>
    </ol>
</nav>
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Hero Image & CTA -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h2 class="display-4 font-weight-bolder text-white text-shadow-2">
                WELCOME TO <br> FANCY SHOES!
            </h2>
            <p class="lead text-white text-shadow-2">
                Shop online 24/7 and check out our latest deals.
            </p>
            <a class="btn btn-outline-blue btn-lg text-uppercase py-3 px-3" 
              href="{% url 'products' %}" role="button">
                Shop Now
            </a>
        </div>
    </div>    
    
    <!-- Shop By Category cards -->
    <div class="card-deck mb-5">
        <div class="card d-flex text-center text-white card__image-container">
            <a href="{% url 'products' %}?gender=women">
                <img class="card__image card-img-top rounded-3"
                    src="{{ MEDIA_URL }}home_shoes_ladies-285331_640.jpg" alt="Women Shoes">
                <div class="card-img-overlay align-items-center d-flex justify-content-center">
                    <h2 class="card-title">Ladies</h2>
                </div>
            </a>
        </div>
        <div class="card d-flex text-center text-white card__image-container">
            <a href="{% url 'products' %}?gender=men">
                <img class="card__image card-img-top rounded-3"
                    src="{{ MEDIA_URL }}home_shoes_gents.jpg" alt="Men Shoes">
                <div class="card-img-overlay align-items-center d-flex justify-content-center">
                    <h2 class="card-title">Gents</h2>
                </div>
            </a>
        </div>            
    </div>
</div>
{% endblock %}