<!-- Template adapted from https://github.com/simonjvardy/Sportswear-Online/blob/main/home/templates/home/index.html -->

{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}Your online shop for shoes!{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small pl-0 pl-sm-3">        
        <li class="breadcrumb-item active" aria-current="page">           
        </li>
    </ol>
</nav>
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Hero Image & CTA -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h2 class="display-4 font-weight-bolder text-white text-shadow-2">
                WELCOME TO <br> FANCY SHOES!
            </h2>
            <p class="lead text-white text-shadow-2">
                Shop online 24/7 and check out our latest deals.
            </p>
            <a class="btn btn-outline-blue btn-lg text-uppercase py-3 px-3" 
              href="{% url 'products' %}" role="button">
                Shop Now
            </a>
        </div>
    </div>    
    
    <!-- Shop By Category cards -->
    <div class="card-deck mb-5">
        <div class="card d-flex text-center text-white card__image-container">
            <a href="{% url 'products' %}?gender=women">
                <img class="card__image card-img-top rounded-3"
                    src="{{ MEDIA_URL }}home_shoes_ladies-285331_640.jpg" alt="Women Shoes">
                <div class="card-img-overlay align-items-center d-flex justify-content-center">
                    <h2 class="card-title">Ladies</h2>
                </div>
            </a>
        </div>
        <div class="card d-flex text-center text-white card__image-container">
            <a href="{% url 'products' %}?gender=men">
                <img class="card__image card-img-top rounded-3"
                    src="{{ MEDIA_URL }}home_shoes_gents.jpg" alt="Men Shoes">
                <div class="card-img-overlay align-items-center d-flex justify-content-center">
                    <h2 class="card-title">Gents</h2>
                </div>
            </a>
        </div>            
    </div>
</div>

<!-- Code Snipped from https://github.com/BrianWhelanDublin/milestone-project-4/blob/master/homepage/templates/homepage/index.html -->
<!-- Customer review section -->
<div class="container">
    <div class="row">
        <div class="col">            
            <h2 class="text-center mb-4">Our Customer Reviews</h2>            
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div>
                <div class="stars text-center mb-3 px-4 px-md-2">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                </div>
                <p>
                    I love Fancy Shoes. My order arrived on time, the shoes are of a high quality, 
                    they looking amazing and they are very comfortable. Would highly recommend them.
                </p>
                <p><strong>Louise</strong></p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div>
                <div class="stars text-center mb-3 px-4 px-md-2">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                </div>
                <p>
                    I purchased a pair of sports shoes from Fancy Shoes and they are excellent. 
                    The quality and design are amazing and they are very
                    great for my runs. I would 100% buy from here again.
                </p>
                <p><strong>Stephen</strong></p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div>
                <div class="stars text-center mb-3 px-4 px-md-2">
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                </div>
                <p>
                    I recently needed for some events new shoes and have bought severals from Fancy Shoes. 
                    I really cannot fault them, everting from delivery, quality and design is excellent.
                </p>
                <p><strong>Lyndsay</strong></p>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col text-center">
            <a href="{% url 'our_reviews' %}" class="btn btn-outline-blue btn-lg">
                See all Reviews</a>
        </div>
    </div>
</div>
{% endblock %}